@import "tailwindcss";

:root {
  --text-color: #ffffff;
  --bg-color: #000000;
  --page-width: 52rem;
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-300px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink {
  50% { border-color: transparent }
}

